<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head')  %>
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header')  %>
        <main class="fonditos min-vh-100">
            <section class="container py-5">
                <div class="row bg-white agreg">
                    <div class="col-12 text-center text-md-left py-4 ">
                        <h1 class="col-12 text-center letra agreg mad py-3">CARRITO DE COMPRAS</h1>
                    </div>

                    <div class="col-12 bg-white d-flex align-items-center justify-content-end pad-r-43">
                        <a class="boton-cantidad" href="/">
                            &times;
                        </a>
                    </div>

                    <div class="col-12 bg-white px-5">
                        <h5>PRODUCTOS</h5>
                        <hr color="">
                    </div>

                    <div class="row">
                        <% cartProducto.forEach (item => { %>
                        <article class="d-flex flex-lg-row justify-content-between align-items-center w-100 px-5 py-2">
                            <!-- <div class="col-12 bg-white mx-5">
                                    <hr color="">
                                </div> -->

                            <div class="d-flex justify-content-between align-items-center col-6 col-lg-2">
                                <figure class="card-img-top d-flex justify-content-center m-0">
                                <img src= <%="/img/prod_img/" + item.product.images[0].filename %> class="img-fluid w-100 m-auto" alt="">
                                <!-- <img src="/img/products/patines/inline/images.jpg" class="img-fluid w-100 mh-auto" alt=""> -->
                                </figure>
                            </div>
                            
                            <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center col-6 col-lg-10">

                            
                                <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center col-6 col-lg-4">
                                    <div class="py-3">
                                        <p class="text-center my-1"><%=item.product.brand + ' ' + item.product.model   %> </p>
                                        <p class="text-center my-1"><%='Talle: '+ item.sizeId%></p>
                                        <p class="text-center my-1"><%=' Precio: $' + item.netPrice%></p>
                                    </div>
                                </div>

                                <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center col-6 col-lg-2">
                                    <div class="align-items-center justify-content-center">
                                        <h6>Cantidad</h6>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <form action="/cart/restounidad" method="POST" class="">
                                                <input type="hidden" name="itemId" value="<%=item.id %>">
                                                <input type="hidden" name="quantity" value="<%=item.quantity %>">
                                                <input type="hidden" name="netPrice" value="<%=item.netPrice %>">
                                                <button type="submit" class="boton-cantidad mr-2">
                                                    -
                                                </button>
                                            </form>
                                            <p class="cantidad text-center m-0">
                                            <%=item.quantity %>

                                            </p>
                                            <form action="/cart/sumounidad" method="POST" class="">
                                                <input type="hidden" name= "itemId" value="<%=item.id %>">
                                                <input type="hidden" name="quantity" value="<%=item.quantity %>">
                                                <input type="hidden" name="netPrice" value="<%=item.netPrice %>">
                                                
                                                <button type="submit" class="boton-cantidad ml-2">
                                                    +
                                                </button>
                                            </form>
                                        </div>
                                            
                                    </div>
                                </div>

                                <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center col-6 col-lg-2">
                                    <div class=" d-flex align-items-center justify-center">
                                        <p class="my-1"><%='$' + (item.netPrice * item.quantity)%></p>
                                    </div>
                                </div>

                                <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center col-6 col-lg-2">
                                    <div>
                                        <form action="/cart/deleteitemCart"  method="POST" class="">
                                            <input type="hidden" name="itemId" value="<%=item.id %>">
                                            <button type="submit" class="border-0 bg-white my-1">
                                                <i class="far fa-trash-alt border-0 bg-white"></i>
                                                <span class="fin"></span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-12 bg-white mx-5">
                                <hr color="">
                            </div> -->
                        </article>

                        <div class="col-12 px-5">
                            <hr color="">
                        </div>
                        <% }) %>
                    </div>

                    <section class="row col-12">
                        <div class="col-12 d-flex justify-content-between">
                            <div class="col-6 bg-white px-5">
                                <h5>Subtotal</h5>
                            </div>
                            
                            <div class="col-6 bg-white d-flex align-items-center justify-content-end px-5">
                                <h5>$ <%=total %></h5>
                            </div>
                        </div>

                        <div class="col-12 bg-white px-5">
                            <hr color="">
                        </div>

                        <div class="col-12 d-flex justify-content-between">
                            <div class="col-6 bg-white px-5">
                                <h5>Total</h5>
                            </div>
                            
                            <div class="col-6 bg-white d-flex align-items-center justify-content-end px-5">
                                <h5 id="totalcompra">$ <%=total %></h5>
                            </div>
                        </div>
    
                        <div class="col-12 text-right pad-r-43">
                            <form action="/cart/shop" method="POST">
                                <button type="submit" class="finalizar-compra letra agreg " id ="botonfin">Finalizar compra</button>
                            </form>
                        </div>
    
                        <div class="col-12 mx-auto text-center py-3">
                            <a class="product letra agreg" href="/">ver más productos</a>
                        </div>
                    </section>
                </div>
            </section>
        </main>
    </div>


        <!-- Footer de footer.ejs -->
        <%- include ('../partials/footer') %>

        <!-- Scripts de scripts.ejs -->
        <%- include ('../partials/scripts') %>
        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
        <script src="/js/cartBuy.js"></script>

        <!-- Fin del Container -->

</body>

</html>