<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head')  %>
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header')  %>

        <main class="fonditos py-3 px-5 paovh80">

            <section class="row bg-white agreg caja mt-3 py-3 pt-1">
                <div class="col-12 text-center text-md-left py-4 ">
                    <h1 class="col-12 text-center letra agreg mad py-3">CARRITO DE COMPRAS</h1>
                </div>

                <div class="col-12 bg-white d-flex align-items-center justify-content-end pad-r-43">

                    <button class="boton-cantidad ">
                        &times;
                    </button>

                </div>


                <div class="col-12 bg-white px-5">

                    <h5>PRODUCTO</h5>
                    <hr color="">
                </div>
                <div class="row">
                    <% cartProducto.forEach (item => { %>
                    <article
                        class="d-flex flex-column flex-lg-row justify-content-between align-items-start w-100  px-5">

                        <div class="d-flex justify-content-between align-items-start">

                            <figure>

                                <img src= <%="/img/prod_img/" + item.product.images[0].filename %>  class="img-fluid" alt="">

                            </figure>
                            <div class="pl-5 mt-5">
                                <h4><%=item.product.brand + ' ' + item.product.model   %> </h4>
                                <h4><%=item.product.subcategory.description%></h4>
                                <h4><%='$ ' + item.netPrice%></h4>

                            </div>

                        </div>
                        <div class="pl-5 align-items-center justify-content-center mt-5">

                            <h4>Cantidad</h4>
                            <form action="#" class="d-flex justify-content-center align-items-start">
                                <button class="boton-cantidad">-</button>
                                <span class="cantidad text-center"><%=item.quantity %> </span>
                                <button class="boton-cantidad">+</button>
                            </form>
                        </div>


                        <div class=" d-flex align-items-center justify-content-end mt-5">
                        <h4><%='$ ' + (item.netPrice * item.quantity)%></h4>
                            <button class="btn-trash border-0 tacho">
                                <i class="far fa-trash-alt "></i><span class="fin">Eliminar</span>
                            </button>
                        </div>
                    </article>


                    <div class="col-12 bg-white px-5">


                        <hr color="">

                    </div>

                    <div class="col-12 bg-white px-5">


                        <hr color="">

                    </div>
                    <% }) %>
                <div class="col-8 bg-white  px-5">

                    <h5>Total</h5>

                </div>
                <div class="col-4 bg-white d-flex align-items-center justify-content-end  px-5">

                    <h5><%=total %> </h5>

                </div>

                <div class="col-12 text-right pad-r-43">

                    <button class="finalizar-compra letra agreg">Finalizar Compra</button>

                </div>

                <div class="col-12 mx-auto text-center">
                    <a class="product letra agreg" href="/">ver mas productos</a>
                </div>

            </section>

        </main>


        <!-- Footer de footer.ejs -->
        <%- include ('../partials/footer') %>

        <!-- Scripts de scripts.ejs -->
        <%- include ('../partials/scripts') %>

        <!-- Fin del Container -->
    </div>

</body>

</html>