<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/categoryShow.css">
</head>

<body >
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header') %>

        
        <main class="fonditos">
        <!-- Galería de productos -->
            <section class="container">
                <div class="col-12 text-center text-md-left py-4 ">
                    <h2 class="section-title col-12  text-center mad"><%= Title %></h2>
                    
                </div>
                <div class="row justify-content-between">
                    <% galleryShow.forEach (product => { %> 
                        <% if(product.show == 1) { %>
                            <article class="card col-12 col-md-5 col-lg-auto mb-5 py-3 category-product mm-20vw">
                                <a href="/products/<%= product.subcategoryId %>/<%= product.id %>">
                                    <figure class="card-img-top d-flex justify-content-center"><img class="w-100 mh-auto"
                                        <% if (product.images.length == 0) { %>
                                        src="/img/web/noImage.jpg"
                                        <% } else { %>
                                        src="/img/prod_img/<%= product.images[0].filename %>"
                                        <% }; %>
                                            alt="<%= product.brand + ' ' + product.model + ' $' + product.price %>"></figure>
                                        
                                    <!-- 
                                    <figure class="card-img-top d-flex justify-content-center"><img
                                            src="/img/products/patines/inline/images (7).jpg" alt=""></figure>
                                    -->
                                
                                    <div class="card-body d-flex flex-wrap">
                                        <div class="col-12 card-title text-center tarjetaprecio">
                                            <h4><%= product.brand + ' ' + product.model %></h4>
                                        </div>
                                        <div class="col-12 text-center align-self-end">
                                            <p>$<%= product.price %></p>
                                            <% if (product.discount > 0) { %> 
                                                <button class="butt"> <%= product.discount %> % OFF </button>
                                            <% } %>
                                        </div>
                                    </div>
                                </a>
                            </article>                        
                        <% } %>
                    <% }) %>
                </div>
            </section>
        </main>
    </div>
    
    <!-- Footer de footer.ejs -->
    <%- include ('../partials/footer') %>

    <!-- Scripts de scripts.ejs -->
    <%- include ('../partials/scripts') %>

    <!-- Fin del Container -->
    </div>

</body>
</html>