<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head')  %>
</head>

<body>
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header')  %>


        <main>
            <h1 class="text-center text-success display-5 mt-5 pt-2"> Detalle de Producto</h1>
            <section class="bg-home pt-4">
                <div class="container">
                    <div class="row">
                           <div class="col-8 mx-auto bg-light">
                               <div class="card">
                                    <ul class="list-group">
                                          <li class="list-group-item">ID Usuario: <%=productoShow.id %> </li>  
                                          <li class="list-group-item">Marca: <%=productoShow.marca %> </li>
                                          <li class="list-group-item">Modelo: <%=productoShow.modelo %> </li>
                                          <li class="list-group-item">Descripcion: <%=productoShow.descripcion %> </li>
                                          <li class="list-group-item">Talle: <%=productoShow.talle %> </li>
                                          <li class="list-group-item">Color:  <%=productoShow.color %></li>
                                          <li class="list-group-item">Precio: <%=productoShow.precio %></li>
                                        <li class="list-group-item ">Imagen: <img class="img-thumbnail" src="/img/prod_img/<%= productoShow.images[0] %>.jpg" alt=""></li>

                                        
                                    </ul>

                               </div>
                                <a class="btn btn-primary mt-1 mx-md-auto" href="/products/crud">Regresar</a>

                           </div> 

                    </div>



                </div>



            </section>

            

        </main>

        <!-- Footer de footer.ejs -->
        <%- include ('../partials/footer') %>

        <!-- Scripts de scripts.ejs -->
        <%- include ('../partials/scripts') %>

        <!-- Fin del Container -->
    </div>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>

</html>