<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head')  %>
</head>

<body>
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header')  %>


        <main>
            <h1 class="text-center text-dark display-5 mt-5 pt-2 mad"> Administrador de Productos</h1>
            <section>

                <a class="display-5 mt-5 agreg" href="/products/productsCRUD/add">Agregar Productos</a>
                
            </section>


            <div class="container-fluid">
                <table class='table mt-5'>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Categoría</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Descripcion</th>
                            <th>Talle</th>
                            <th>Precio</th>
                            <th>Ver</th>
                            <th>Editar</th>
                            <th>Borrar</th>
                        </tr>

                    </thead>
                    <tbody>

                        <% productos.forEach(producto => { %>
                        <tr>
                            <td><%=producto.id %></td>
                            <td><%=categorias.find(c =>c.id == producto.categoria).categoria %></td>
                            <td><%=producto.marca %></td>
                            <td><%=producto.modelo %></td>
                            <td><%=producto.descripcion %></td>
                            <td><%=producto.talle %></td>
                            <td><%=producto.precio %></td>
                            <td><a href="/products/detail/<%=producto.id%> ">
                                    <ion-icon name="eye-outline"></ion-icon>
                                </a></td>
                            <td><a href="/products/edit/<%=producto.id%> ">
                                    <ion-icon name="create-outline"></ion-icon>
                                </a></td>
                            <td><a href="/products/delete/<%=producto.id%> ">
                                    <ion-icon name="trash-outline"></ion-icon>
                                </a></td>

                        </tr>

                        <% });%>


                    </tbody>

                </table>
            </div>



        </main>

        <!-- Scripts de scripts.ejs -->
        <%- include ('../partials/scripts') %>

        <!-- Fin del Container -->
    </div>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>

</html>