<!doctype html>
<html lang="es">

<head>
    <%- include ('../partials/head')  %>
    <link rel="stylesheet" href="/css/CRUD.css">
</head>

<body>
    <div class="container">
        <%- include('../partials/header.ejs')%>
        <main class=" fonditos mb-7 py-3  ">

        <!-- Cuerpo principal -->
        <!--<section class="row">
            <article class="col-12  card pt-5">
                <div class="card-body">
                    <h1 class="card-title text-center">Edición de Productos</h1>


                </div>
            </article>
        </section>-->
        <div class="col-12 text-center text-md-left py-4 ">
            <h1 class="col-12 text-center mad">Edición de Productos</h1>

        <section class="bg-home">
            <div class="container py-4">
                <div class="row">
                    <div class="col-12 col-md-4 mx-md-auto bg-light agreg">
                        <div class="signup-form">
    <form action="/products/productsCRUDedit/<%=productoEdit.id%>?_method=put" method="POST">

    <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="inputZip">ID</label>
                    <input type="text" class="form-control" name = "id" value="<%=productoEdit.id%>" disabled>
                </div>

                <!-- !!! Por si agregamos vista variable con FrontJS -->
        <!-- <div class="form-group col-md-4" >
            <label for="inputState">Categoria</label>
            <select id="inputState" class="form-control" name = "categoryId" required >
            <% // let subcat = productoEdit.subcategoryId %>
            <% // let cateId = subcategorias.find(sc =>sc.id == subcat).categoryId%>
                <option value="<%= // categorias.find(c =>c.id == cateId).id %>" selected>
                    <%= // categorias.find(c =>c.id == cateId).name %></option>
                 <% // categorias.forEach(categoria => { %>
               <option value="<%= // categoria.id %>"><%= // categoria.name %></option>
                <% // }); %>
            </select>
        </div> -->
        
        <div class="form-group col-md-4">
            <label for="inputState">Subcategoría</label>
            <select id="inputState" class="form-control" name="subcategoryId" required>
                <option value="<%=subcategorias.find(c =>c.id == productoEdit.subcategoryId).subcategoryId %>" selected>
                <%=subcategorias.find(c =>c.id == productoEdit.subcategoryId).name %></option>
            
                <%subcategorias.forEach(subcategoria => { %>
                <option value="<%= subcategoria.id %>"><%= subcategoria.name %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Marca</label>
        <input type="text" class="form-control" name="brand" placeholder="marca" value="<%=productoEdit.brand%>">
    </div>
    <div class="form-group">
        <label for="inputAddress">Modelo</label>
        <input type="text" class="form-control" name="model" placeholder="modelo" value="<%=productoEdit.model%>">
    </div>
    <div class="form-group">
        <label for="inputAddress2">Descripción</label>
        <input type="text" class="form-control" name="description" placeholder="descripción del producto"value="<%=productoEdit.description%>">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Precio</label>
            <input type="text" class="form-control" name="price" value="<%=productoEdit.price%>">
        </div>

        <div class="form-group col-md-6">
            <label for="inputZip">Descuento</label>
            <input type="text" class="form-control" name="discount"value="<%=productoEdit.discount%>">
        </div>
    </div>

    <% if(sizeStock.length > 0) { %>
        <% sizeStock.forEach(rel => { %>
            <div class="form-row">
                <div class="d-none">
                    <label for="inputZip">relId</label>
                    <input type="text" class="form-control" name="relId" value="<%=rel.id%>">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputCity">Talle</label>
                    <input type="text" class="form-control" disabled name="size" value="<%=rel.sizeId%>">
                </div>
            
                <div class="form-group col-md-2">
                    <label for="inputZip">Stock</label>
                    <input type="text" class="form-control" name="stock" value="<%=rel.stock%>">
                </div>
            </div>
            <% }) %>
        <% }; %>

    <div class="form-row"></div>
        <div class="form-group ml-4">
            <input type="checkbox" class="form-check-input" name="show" placeholder="">
            <label class="form-check-label" for="exampleCheck1">Hacer visible este producto</label>
        </div>
    </div>

    <div class="form-group">
            <div class="list-group-item ">Imagen: <img class="img-thumbnail" src="/img/prod_img/<%= productoEdit.images[0] %>.jpg" alt="">
                <input type="file" class="form-control" name="imagen" placeholder="Imagen" value="<%=productoEdit.imagen%>">
            </div>
 
                                
 <div class="form-group d-inline">
<button type="submit" class="btn btn btn-primary">Actualizar</button>
 </div>
    <div class="form-group d-inline">
     <a type="button" class="btn btn btn-danger" href="/products/productsCRUDdetail/<%=productoEdit.id%>">Volver</a>
 </div>
                               
</form>

                        </div>
                    </div>
                </div>
            </div>
    </div>

    </section>

</main>
    <!-- Footer -->
    <%- include ('../partials/footer') %>

    <!-- Scripts para Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>