<!doctype html>
<html lang="es">

<head>
    <%- include ('../partials/head')  %>
    <link rel="stylesheet" href="/css/CRUD.css">
</head>

<body>
    <div class="container">
        <%- include('../partials/header.ejs')%>
        <main class=" fonditos mb-7 py-3  ">

        <!-- Cuerpo principal -->
        <!--<section class="row">
            <article class="col-12  card pt-5">
                <div class="card-body">
                    <h1 class="card-title text-center">Edición de Productos</h1>


                </div>
            </article>
        </section>-->
        <div class="col-12 text-center text-md-left py-4 ">
            <h1 class="col-12 text-center mad">Edición de Productos</h1>

        <section class="bg-home">
            <div class="container py-4">
                <div class="row">
                    <div class="col-12 col-md-4 mx-md-auto bg-light agreg">
                        <div class="signup-form">
    <form action="/products/productsCRUDedit/<%=productoEdit.id%>?_method=put" method="POST" id="formulario">

    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputZip">ID</label>
            <input type="text" class="form-control" name = "id" value="<%=productoEdit.id%>" id="productId" disabled>
        </div>

        <div class="form-group col-md-10">
            <label for="inputState">Categoría</label>
            <select class="form-control custom-select" name="categoryId" id="selectedCat">
                <% categorias.forEach(categoria => { %>
                <option value="<%= categoria.id %>"
                    <% if (categoria.id == productoEdit.subcategory.categoryId) { %>
                    <%= 'selected' %> <% }; %>><%= categoria.name %></option>
                <% }); %>
            </select>
            <% if(typeof errors != 'undefined' && errors.categoryId){  %>
            <span class="text-danger"> <%=errors.categoryId.msg%> </span>
            <% } %>
            <span id="errorcategoria"></span>
        </div>
        
        <div class="form-group col-12">
            <label for="inputState">Subcategoría</label>
            <select class="form-control" name="subcategoryId" id="dynamicSubcat" required>
                <%subcategorias.forEach(subcategoria => { %>
                    <% if (subcategoria.categoryId == productoEdit.subcategory.categoryId) { %>
                    <option value="<%= subcategoria.id %>" <% if (subcategoria.id == productoEdit.subcategoryId) { %>
                        <%= 'selected' %> <% }; %>><%= subcategoria.name %></option>
                    <% }}); %>
            </select>
                <% if(typeof errors != 'undefined' && errors.subcategoryId){  %>
                <span class="text-danger"> <%=errors.subcategoryId.msg%> </span>
                <% } %>
                <span id="errorsubcategoria"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label for="inputAddress">Marca</label>
        <input type="text" class="form-control" name="brand" placeholder="marca" value="<%=productoEdit.brand%>">
        <% if(typeof errors != 'undefined' && errors.brand){  %>
        <span class="text-danger"> <%=errors.brand.msg%> </span>
        <% } %>
        <span id="errorBrand"></span>
    </div>
    <div class="form-group">
        <label for="inputAddress">Modelo</label>
        <input type="text" class="form-control" name="model" placeholder="modelo" value="<%=productoEdit.model%>">
        <% if(typeof errors != 'undefined' && errors.model){  %>
        <span class="text-danger"> <%=errors.model.msg%> </span>
        <% } %>
        <span id="errorModel"></span>
    </div>
    <div class="form-group">
        <label for="inputAddress2">Descripción</label>
        <input type="text" class="form-control" name="description" placeholder="descripción del producto"value="<%=productoEdit.description%>">
        <% if(typeof errors != 'undefined' && errors.description){  %>
        <span class="text-danger"> <%=errors.description.msg%> </span>
        <% } %>
        <span id="errorDescription"></span>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Precio</label>
            <input type="text" class="form-control" name="price" value="<%=productoEdit.price%>">
            <% if(typeof errors != 'undefined' && errors.price){  %>
            <span class="text-danger"> <%=errors.price.msg%> </span>
            <% } %>
            <span id="errorPrice"></span>
        </div>
        <div class="form-group col-md-6">
            <label for="inputZip">Descuento</label>
            <input type="text" class="form-control" name="discount" value="<%=productoEdit.discount%>">
            <% if(typeof errors != 'undefined' && errors.discount){  %>
            <span class="text-danger"> <%=errors.discount.msg%> </span>
            <% } %>
            <span id="errorDiscount"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="size">Actualizar talle</label>
            <select class="form-control custom-select" name="size" id="selectedSize">
                <option selected disabled>elegir talle</option>
                <% sizeStock.forEach(size => { %>
                    <option value="<%= size.sizeId %>"><%= size.sizeId %></option>
                <% }); %>
                <option value="otherSizes">otros talles</option>
            </select>
                            <% if(typeof errors != 'undefined' && errors.size){  %>
                            <span class="text-danger"> <%=errors.size.msg%> </span>
                            <% } %>
                            <span id="errorSize"></span>
        </div>
        <div class="form-group col-md-6" id="stockReturn">
            <label for="stock">Stock</label>
            <input type="text" class="form-control" name="stock" >
                    <% if(typeof errors != 'undefined' && errors.stock){  %>
                    <span class="text-danger"> <%=errors.stock.msg%> </span>
                    <% } %>
                    <span id="errorStock"></span>
        </div>
        <div class="d-none" id="relReturn">
            <label for="relId">Rel</label>
            <input type="text" class="form-control" name="relId" value="">
        </div>
    </div>

    <% if(typeof errors != 'undefined'){  %>
    <div class="form-row" id="otherSizesRow">
    <% }else{ %>
         <div class="form-row d-none" id="otherSizesRow">
    <% } %>

   
        <div class="form-group col-md-6">
            <label for="addSize">Otros talles</label>
            <select class="form-control custom-select" name="addSize" id="otherSizes">
                <option selected disabled>elegir talle</option>                    
            </select>
            <% if(typeof errors != 'undefined' && errors.addSize){  %>
            <span class="text-danger"> <%=errors.addSize.msg%> </span>
            <% } %>
            <span id="erroraddsize"></span>
        </div>
        <div class="form-group col-md-6">
            <label for="addStock">Stock</label>
            <input type="text" class="form-control" name="addStock" value="">
                <% if(typeof errors != 'undefined' && errors.addStock){  %>
                <span class="text-danger"> <%=errors.addStock.msg%> </span>
                <% } %>
                <span id="erroraddstock"></span>
        </div>
    </div>

    <div class="form-row"></div>
        <div class="form-group ml-4">
            <input type="checkbox" class="form-check-input" name="show" placeholder="">
            <label class="form-check-label" for="exampleCheck1">Hacer visible este producto</label>
        </div>
    </div>

    <% if (productoEdit.images.length == 0) { %>
        <div class="list-group-item">Imagen: <img class="img-thumbnail" src="/img/web/noImage.jpg" alt="">
        </div>
    <% } else { %>
        <% productoEdit.images.forEach(img=> {%>
        <div class="form-group">
            <div class="list-group-item ">Imagen: <img class="img-thumbnail" src="/img/prod_img/<%= img.filename%>" alt="">
                <input type="file" class="form-control" name="image" placeholder="Imagen" value="<%=img.filename%>">
                <% if(typeof errors != 'undefined' && errors.image){  %>
                <span class="text-danger"> <%=errors.image.msg%> </span>
                <% } %>
                <span id="errorImage"></span>
            </div>
        <% }); %>
        <% }; %>
 
                                
 <div class="form-group d-inline">
<button type="submit" class="btn btn btn-primary">Actualizar</button>
 </div>
    <div class="form-group d-inline">
     <a type="button" class="btn btn btn-danger" href="/products/productsCRUDdetail/<%=productoEdit.id%>">Volver</a>
 </div>
                               
</form>

                        </div>
                    </div>
                </div>
            </div>
    </div>

    </section>

</main>
    <!-- Footer -->
    <%- include ('../partials/footer') %>

    <!-- Scripts de scripts.ejs -->
    <%- include ('../partials/scripts') %>

    <!-- Scripts para Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- Scripts para JS -->
    <script src="/js/productEditDinamico.js"></script>
    <script src="/js/productEdit.js"></script>
   
</body>

</html>