<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('../partials/head')  %>
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
      <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header')  %>

        <!-- Carousel de carousel.ejs -->
        

        <main class="fonditos">
            <%- include ('../partials/carousel')  %>
                        <!-- Conoce nuestros productos y las 3 categorías-->
            <section class="container">
                <div class="col-12 text-center text-md-left py-4 ">
                    <h1 class="mx-auto p-0 text-center mad">Conoce nuestros productos <% if (locals.usuarioLogueado) { %>
                         
                    <%=locals.usuarioLogueado.firstName%>
                    
                    
                    <% } %></h1>
                              
                </div>
                <!-- 3 categorías-->
                <section class="row justify-content-between col-12 m-auto">
                    
                    <% categories.forEach (category => { %>
                    <div class="card col-12 col-md-3 border-white m-0 p-0 px-1 mb-5 category-product">
                        <a href="/category/<%= category.id %>">
                            <figure><img class="card-img-top pt-1" src="/img/web/<%= category.image %>" alt=<%= category.name %>></figure>
                        <div class="card-body p-0">
                            <h5 class="card-title text-center"><%= category.name %></h5>
                        </div>
                        </a>
                    </div>
                    <% }); %>
                
                </section>

                <!-- Envíos con normalidad -->
                <!--<div class="row mt-5 pb-5">
                    <h2 class="mx-auto p-0 text-center">Comprá online! Envíos con normalidad</h2>
                </div>-->
                <div class="col-12 text-center text-md-left py-4 ">
                    <h1 class="col-12 text-center mad">Comprá online! Envíos con normalidad</h1>
            </section>
        </main>

    <!-- Footer de footer.ejs -->
    <%- include ('../partials/footer') %>

    <!-- Scripts de scripts.ejs -->
    <%- include ('../partials/scripts') %>

    <!-- Fin del Container -->
</div>

</body>
</html>


