<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('../partials/head')  %>
</head>
<body class="fondito">
    
    
    <div class="container-fluid">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header')  %>

        <!-- Carousel de carousel.ejs -->
        <%- include ('../partials/carousel')  %>

        <main>
                        <!-- Conoce nuestros productos y las 3 categorías-->
            <section class="container">
                <div class="row my-5">
                    <h1 class="mx-auto p-0 text-center">Conoce nuestros productos</h1>
                </div>
                <!-- 3 categorías-->
                <section class="row justify-content-between col-12 m-auto">
                    
                    <div class="card col-12 col-md-4 border-white m-0 p-0 px-1 col-lg-3 category-product">
                        <a href="/category/iSkates">
                            <figure><img class="card-img-top pt-1" src="/img/web/temp-iskate-cat-200x200.jpg"
                                    alt="Inline Skates"></figure>
                        <div class="card-body p-0">
                            <h5 class="card-title text-center">Inline Skates</h5>
                        </div>
                        </a>
                    </div>
                    <div class="card col-12 col-md-4 border-white m-0 p-0 px-1 col-lg-3 category-product">
                        <a href="/category/qSkates">
                            <figure><img class="card-img-top pt-1" src="/img/web/temp-qskate-cat-200x200.jpg"
                                    alt="Quad Skates"></figure>
                        <div class="card-body p-0">
                            <h5 class="card-title text-center">Quad Skates</h5>
                        </div>
                        </a>
                    </div>
                    <div class="card col-12 col-md-4 border-white m-0 p-0 px-1 col-lg-3 category-product">
                        <a href="/category/accesories">
                            <figure><img class="card-img-top pt-1" src="/img/web/temp-acc-cat-200x200.jpg"
                                    alt="Accesorios"></figure>
                        <div class="card-body p-0">
                            <h5 class="card-title text-center">Accesorios</h5>
                        </div>
                        </a>
                    </div>
                
                </section>

                <!-- Envíos con normalidad -->
                <div class="row my-5">
                    <h2 class="mx-auto p-0 text-center">Comprá online! Envíos con normalidad</h2>
                </div>
            </section>
        </main>

    <!-- Footer de footer.ejs -->
    <%- include ('../partials/footer') %>

    <!-- Scripts de scripts.ejs -->
    <%- include ('../partials/scripts') %>

    <!-- Fin del Container -->
</div>

</body>
</html>