<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head')  %>
    <link rel="stylesheet" href="/css/CRUD.css">
</head>

<body>
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header')  %>


        <main>
            <h1 class="text-center text-dark display-5 mt-5 pt-2 mad"> Administrador de Sub Categorías</h1>
            <section>

                <a class="display-5 mt-5 agreg" href="/subcategories/subcategoriesCRUD/add">Agregar Sub Categoría</a>

            </section>


            <div class="container-fluid">
                <table class='table mt-5'>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Subcategoría</th>
                            <th>Categoría</th>
                            <th>Descripcion</th>
                            <th>Ver</th>
                            <th>Editar</th>
                            <th>Borrar</th>
                        </tr>

                    </thead>
                    <tbody>

                        <% subcategorias.forEach(subcategoria => { %>
                            <% let cateId = subcategoria.categoryId %>
                            <% let cate = categorias.find(c =>c.id == cateId).name %>
                        <tr>
                            <td><%= subcategoria.id %></td>
                            <td><%= subcategoria.name %></td>
                            <td><%= cate %></td>
                            <td><%= subcategoria.description %></td>

                            <td><a href="/subcategories/detail/<%=subcategoria.id%> ">
                                    <ion-icon name="eye-outline"></ion-icon>
                                </a></td>
                            <td><a href="/subcategories/edit/<%=subcategoria.id%> ">
                                    <ion-icon name="create-outline"></ion-icon>
                                </a></td>
                            <td><a href="/subcategories/delete/<%=subcategoria.id%> "class = "eliminarsubcat">
                                    <ion-icon name="trash-outline"></ion-icon>
                                </a></td>

                        </tr>

                        <% });%>


                    </tbody>

                </table>
            </div>



        </main>
        <%- include ('../partials/footer') %>
        <!-- Scripts de scripts.ejs -->
        <%- include ('../partials/scripts') %>

        <!-- Fin del Container -->
    </div>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="/js/subCategoryDelete.js"></script>
</body>

</html>