
<!-- Header - Primera linea-->
<header class="container bg-white">
    <nav class="row mx-0 pr-3 w-100">
        <figure class="d-none d-md-block col-md-4 m-0 p-0">
            <a class="" href="/">
                <!-- Si usamos imagen jpg reemplazar <img src="_logo_" alt="_logo de la marca_"></a> -->
                <!-- Por ahora uso este SVG -->
                
                <%- include ('../partials/svgLogo')  %>
                
                
            </a>
        </figure>
        <figure class="col-6 col-md-4 m-0 p-0">
            <!-- Si usamos imagen jpg reemplazar <img src="_weAreBladers_" alt="_la marca_"></a> -->
            <!-- Por ahora uso este SVG -->
            <a href="/">
                <%- include ('../partials/svgNombre')  %>
            </a>

        </figure>
        <div class="col-6 col-md-4 mx-0 my-auto p-0 d-flex justify-content-end align-items-center">
            <form class="search-form m-0 pr-1">
                <input class="form-control input-sm" type="search" placeholder="Buscar..." aria-label="Search">
                <!-- No pude resolver la lupa <button type="submit"><i class="fas fa-search"></i></button> -->
            </form>

            <button data-toggle="modal" data-target="#loginModal" class="border-0 bg-white"><i
                    class="fas fa-sign-in-alt regist"></i></button>
            <a href="/users/register"><i class="fas fa-user-plus regist"></i></a>
            <a href="/cart"><i class="fas fa-shopping-cart text-success"></i></a>
            <p><% if (typeof usuario != 'undefined') { %>
            
            <%='Hola'+ usuario.first_name + ' ' + usuario.last_name %>
            
            
            <% } %></p>            
            
        </div>
        </div>
    </nav>
</header>

<!--Modal Login-->
<%- include('../users/login') %> 



<!-- Header - NavBar Segunda linea-->
<%- include ('../partials/navBarTop')  %>

</header>