
<!-- Header - Primera linea-->
<header class="container-fluid bg-white">
    <nav class="row mx-0 px-1 w-100 d-flex justify-content-between align-items-center">
        <figure class="d-none d-md-block col-md-4 m-0 p-0">
            <a class="" href="/">
                <!-- Si usamos imagen jpg reemplazar <img src="_logo_" alt="_logo de la marca_"></a> -->
                <!-- Por ahora uso este SVG -->

                <%- include ('../partials/svgLogo')  %>


            </a>
        </figure>
        <figure class="col-4 col-md-4 m-0 p-0">
            <!-- Si usamos imagen jpg reemplazar <img src="_weAreBladers_" alt="_la marca_"></a> -->
            <!-- Por ahora uso este SVG -->
            <a href="/">
                <%- include ('../partials/svgNombre')  %>
            </a>

        </figure>
        <div class="col-8 col-md-4 mx-0 my-auto p-0 d-flex justify-content-end align-items-center">
            <form class="search-form m-0 pr-1" action="/products/search" method="GET">
                <input class="form-control input-sm" type="search" name="searchInput" maxlength="50"
                    placeholder="Buscar..." aria-label="Search">
                    <!-- <button class="btn btn-outline-dark" type="submit"><i class="fas fa-search"></i></button> -->
                <!-- No pude resolver la lupa <button type="submit"><i class="fas fa-search"></i></button> -->
                    <!-- <input type="text" name="searchInput" maxlength="50" placeholder="Search..."> -->
                    <!-- <button>Search GET</button> -->
            </form>


            <% if (locals.usuarioLogueado == false) { %>
            <a href="/users/login"><i class="fas fa-sign-in-alt regist ml-2" id="headerlogin"></i></a>
            <a href="/users/register"><i class="fas fa-user-plus regist ml-2"></i></a>
            <% } %>

            <% if (locals.usuarioLogueado) { %>
            <!--<a href="/users/logout" class="ml-2 avatext text-center" id="headeravatext">Cerrar Sesión</a>-->
           
            <figure class="avatar  text-align-center ml-3"><a href="/users/profileShow"><img
                        src="/img/users/<%= locals.usuarioLogueado.image %>" alt="" class="avatar"></a></figure>
            
            <ul class="navbar-nav px-1 ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active piquitoavatar" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                       <!-- <i class="fas fa-user-circle ml-2"></i> -->
                    </a>
                    <div class="dropdown-menu border shadow-sm desplegablepiquito" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/users/profileShow">Mi Perfil<i class="fas fa-user-circle ml-2"></i></a>
                        <a class="dropdown-item" href="/cart/cartHistory">Mis Compras<i class="fas fa-money-bill-alt ml-2"></i></a>
                        <a class="dropdown-item" href="/users/logout">Cerrar Sesión<i class="fas fa-sign-out-alt ml-2"></i></a>
                    </div>
                </li>
            </ul>
            <div class="col-2 d-flex flex-column justify-content-center px-1">
                
                <a class="" id="headercart" href="/cart"><i class="fas fa-shopping-cart regist" ></i>(<%=locals.cartQuantity %>) </a>
            </div>
                
            
            <% } %>





        </div>
    </nav>





<!-- Header - NavBar Segunda linea-->
<%- include ('../partials/navBarTop')  %>

</header>