<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head')  %>
</head>

<body>
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header')  %>


        <main>
            <h1 class="text-center text-success display-5 mt-5 pt-2"> Detalle de Usuario</h1>
            <section class="bg-home pt-4">
                <div class="container">
                    <div class="row">
                           <div class="col-8 mx-auto bg-light">
                               <div class="card">
                                    <ul class="list-group">
                                          <li class="list-group-item">ID Usuario: <%=usuarioShow.id %> </li>  
                                          <li class="list-group-item">Nombre: <%=usuarioShow.first_name %> </li>
                                          <li class="list-group-item">Apellido: <%=usuarioShow.last_name %> </li>
                                          <li class="list-group-item">Correo Electrónico: <%=usuarioShow.email %> </li>
                                          <li class="list-group-item">Contraseña: <%=usuarioShow.password %> </li>
                                          <li class="list-group-item">Teléfono:  </li>
                                          <li class="list-group-item">Fecha de Alta: </li>
                                    </ul>

                               </div>
                                <a class="btn btn-primary mt-1 mx-md-auto" href="/users/crud">Regresar</a>

                           </div> 

                    </div>



                </div>



            </section>

            

        </main>

        <!-- Footer de footer.ejs -->
        <%- include ('../partials/footer') %>

        <!-- Scripts de scripts.ejs -->
        <%- include ('../partials/scripts') %>

        <!-- Fin del Container -->
    </div>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>

</html>