<!doctype html>
<html lang="es">

<head>
    <%- include ('../partials/head')  %>
    <link rel="stylesheet" href="/css/edit.css">
    <script src="/js/togglePassword.js"></script>
</head>

<body>
    <div class="container">
        <%- include('../partials/header.ejs')%>
        <main class="fonditos mb-7 py-3">

        <!-- Cuerpo principal -->
        <!--<section class="row">
            <article class="col-12  card pt-5">
                <div class="card-body">
                    <h1 class="card-title text-center">Edición de Usuarios</h1>


                </div>
            </article>
        </section>-->
        <div class="col-12 text-center text-md-left py-4"> <!-- acá quité paovh80 y fonditos -->
            <h1 class="col-12 text-center mad">Edición de Usuarios</h1>

            <section class="bg-home min-vh-100">
                <div class="container pt-4">
                    <div class="row">
                        <div class="col-12 col-md-4 mx-md-auto bg-light agreg">
                            <div class="signup-form">
                                <form action="/users/edit/<%=usuarioEdit.id%>?_method=put" class = "formulario" id = "formulario" method="POST" enctype="multipart/form-data">
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="inputZip">ID</label>
                                            <input type="text" class="form-control" name="id" value="<%=usuarioEdit.id%>"
                                                disabled>
                                        </div>
                                        <div class="form-group col-md-10">
                                            <label for="inputAddress">Correo Electrónico</label>
                                            <input type="text" class="form-control" name="email" placeholder="Corro Electrónico" value="<%=usuarioEdit.email%>">
                                            <% if(typeof errors != 'undefined' && errors.email){  %>
                                            <span class="text-danger"> <%=errors.email.msg%> </span>
                                            <% } %>
                                            <span id="erroremail"></span>
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="inputCity">Nombre</label>
                                            <input type="text" class="form-control" name="firstName" placeholder = "Nombre" value="<%=usuarioEdit.firstName%>">
                                            <% if(typeof errors != 'undefined' && errors.firstName){  %>
                                            <span class="text-danger"> <%=errors.firstName.msg%> </span>
                                            <% } %>
                                            <span id="errornombre"></span>
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="inputCity">Apellido</label>
                                            <input type="text" class="form-control" name="lastName" placeholder="Apellido" value="<%=usuarioEdit.lastName%>">
                                                <% if(typeof errors != 'undefined' && errors.lastName){  %>
                                                <span class="text-danger"> <%=errors.lastName.msg%> </span>
                                                <% } %>
                                                <span id="errorapellido"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                        <label for="inputAddress">Teléfono</label>
                                        <input type="text" class="form-control" name="phone" placeholder="(011)-####-#### o vacío"
                                            value="<%=usuarioEdit.phone%>">
                                            <span id="errortelefono"></span>
                                    </div>

                                                <div class="input-group col-12">
                                                    <div class="row col-12">
                                                        <label for="inputAddress">Contraseña</label>
                                                    </div>
                                                
                                                    <div class="row col-12">
                                                        <div class="col-11 px-0">
                                                            <input type="hidden" name="password_old" value=<%=usuarioEdit.password%>>
                                                            <input type="password" class="form-control" name="password"
                                                                placeholder="Nueva contraseña (8 a 20 caracteres)">
                                                        </div>
                                                        <div class="input-group-append col-1 px-0">
                                                            <span class="input-group-text  bg-white" id="togglePassword"><i class="fas fa-eye"> </i></span>
                                                        </div>
                                                    </div>
                                                    <% if(typeof errors != 'undefined' && errors.password){  %>
                                                    <span class="text-danger"> <%=errors.password.msg%> </span>
                                                    <% } %>
                                                    <span id="errorpassword"></span>
                                                </div>

                                        <div class="input-group col-12">
                                            <div class="row col-12">
                                                <label for="inputAddress">Reingrese Contraseña</label>
                                            </div>
                                            <div class="row col-12">
                                                <div class="input-group col-11 px-0">
                                                    <input type="password" class="form-control password2" name="password2" id="password2"
                                                        placeholder="Reingrese nueva contraseña (8 a 20 caracteres)">
                                                </div>
                                                <div class="input-group-append col-1 px-0">
                                                    <span class="input-group-text  bg-white" id="togglePassword2"><i class="fas fa-eye"> </i></span>
                                                </div>
                                            </div>
                                            <% if(typeof errors != 'undefined' && errors.password2){  %>
                                            <span class="text-danger"> <%=errors.password2.msg%> </span>
                                            <% } %>
                                            <span id="errorpassword2"></span>
                                        </div>
                                    

                                    <div class="form-row">
                                        <div class="form-group ml-12 posi">
                                            <input type="checkbox" class="form-check-input" name="roleId" placeholder="" 
                                            <%if(usuarioEdit.roleId == 3){ %> 
                                            checked>
                                           <% } %> 
                                            <label class="form-check-label" for="exampleCheck1">Es administrador</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="list-group-item ">Imagen: <img class="img-thumbnail" value = "/img/users/<%= usuarioEdit.image%>"  src="/img/users/<%= usuarioEdit.image%>" alt="">
                                            <input type ="hidden" name = "image_old" value=<%=usuarioEdit.image%>>
                                            <input type="file" class="form-control" name="image" placeholder="Imagen" value = <%=usuarioEdit.image%> >
                                            <span id="errorimagen"></span>
                                        </div>
                                    </div>

                                    <div class="form-group d-inline">
                                        <button type="submit" class="btn btn btn-primary">Actualizar</button>
                                    </div> 
                                    <div class="form-group d-inline">
                                        <a type="button" class="btn btn btn-danger" href="/users/crud">Volver</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        </main>
    <!-- Footer de footer.ejs -->
    <%- include ('../partials/footer') %>
    
    <!-- Scripts de scripts.ejs -->
    <%- include ('../partials/scripts') %>
    
    <!-- Fin del Container -->
    </div>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="/js/userEdit.js"></script>
    
    </body>
    
    </html>