<!doctype html>
<html lang="es">

<head>
    <%- include ('../partials/head')  %>
</head>

<body class="fonditos mb-1">
    <div class="container-fluid">
        <%- include('../partials/header.ejs')%>

        <!-- Cuerpo principal -->
        <!--<section class="row">
            <article class="col-12  card pt-5">
                <div class="card-body">
                    <h1 class="card-title text-center">Edición de Usuarios</h1>


                </div>
            </article>
        </section>-->
        <div class="col-12 text-center text-md-left py-4 ">
            <h1 class="col-12 text-center mad">Edición de Usuarios</h1>

        <section class="bg-home pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 mx-md-auto bg-light ">
                        <div class="signup-form">
                            <form action="/users/edit/<%=usuarioEdit.id%>?_method=put" method="POST" enctype="multipart/form-data">
                              <div class="form-group">
                                    <% if (typeof errors != 'undefined') { %>
                                    <ul class="list-group-item text-danger">
                                    <% for (let i = 0; i < errors.length; i++){ %>
                                    <li><%=errors[i].msg %> </li>
                                    <% } %>
                                    </ul>
                                    <% } %>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-8">
                                        <label for="inputZip">ID</label>
                                        <input type="text" class="form-control" name="id" value="<%=usuarioEdit.id%>"
                                            disabled>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputCity">Nombre</label>
                                        <input type="text" class="form-control" name="first_name" placeholder = "Nombre" value="<%=usuarioEdit.first_name%>">
                                        <% if(typeof errors != 'undefined' && errors.first_name){  %>
                                        <span class="text-danger"> <%=errors.first_name.msg%> </span>
                                        <% } %>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputCity">Apellido</label>
                                        <input type="text" class="form-control" name="last_name" placeholder="Apellido" value="<%=usuarioEdit.last_name%>">
                                                <% if(typeof errors != 'undefined' && errors.last_name){  %>
                                                <span class="text-danger"> <%=errors.last_name.msg%> </span>
                                                <% } %>
                                    </div>

                                <div class="form-group col-md-12">
                                    <label for="inputAddress">Correo Electrónico</label>
                                    <input type="text" class="form-control" name="email" placeholder="Corro Electrónico"
                                        value="<%=usuarioEdit.email%>">
                                    <% if(typeof errors != 'undefined' && errors.email){  %>
                                        <span class="text-danger"> <%=errors.email.msg%> </span>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="inputAddress">Teléfono</label>
                                    <input type="text" class="form-control" name="telefono" placeholder="Telefono"
                                        value="<%=usuarioEdit.telefono%>">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputAddress2">Contraseña</label>
                                    <input type="password" class="form-control" name="password"
                                        placeholder="Ingrese contraseña (6 a 15 caracteres)" value="<%=usuarioEdit.password%>">
                                        <% if(typeof errors != 'undefined' && errors.password){  %>
                                        <span class="text-danger"> <%=errors.password.msg%> </span>
                                        <% } %>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputAddress2">Reingrese Contraseña</label>
                                    <input type="password" class="form-control" name="password2" placeholder="Reingrese contraseña (6 a 15 caracteres)"
                                    value="<%=usuarioEdit.password%>">
                                </div>
                                <div class="form-row">
                                    <div class="form-group ml-4">
                                       
                                        <input type="checkbox" class="form-check-input" name="admin" placeholder="" 
                                        <%if(usuarioEdit.administra == true){ %> 
                                        checked>
                                       <% } %> 
                                        <label class="form-check-label" for="exampleCheck1">Es administrador</label>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label for="inputZip">Fecha Alta</label>
                                        <input type="text" class="form-control" name="fecha_alta"
                                            value="<%=usuarioEdit.fecha_alta%>" disabled> 
                                    </div>
                                </div>

                                <div class="form-group">
                                        
                                        <div class="list-group-item ">Imágen: <img class="img-thumbnail" value = "/img/users/<%= usuarioEdit.imagen%>"  src="/img/users/<%= usuarioEdit.imagen%>" alt="">
                                        <input type="file" class="form-control" name="imagen" placeholder="Imagen" value = <%=usuarioEdit.imagen%> >
                                </div>

                                    <div class="form-group d-inline">
                                        <button type="submit" class="btn btn btn-primary">Actualizar</button>
                                    </div> 
                                    <div class="form-group d-inline">
                                    <a type="button" class="btn btn btn-danger" href="/users/crud">Volver</a>
                                </div>
                            
                            </form>

                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <!-- Footer de footer.ejs -->
    <%- include ('../partials/footer') %>
    
    <!-- Scripts de scripts.ejs -->
    <%- include ('../partials/scripts') %>
    
    <!-- Fin del Container -->
    </div>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    </body>
    
    </html>