<!doctype html>
<html lang="es">

<head>
    <%- include ('../partials/head')  %>
    <script src="/js/togglePassword.js"></script>
</head>

<body>
    <div class="container">
        <%- include('../partials/header.ejs')%>

        <!-- Cuerpo principal -->
        <!--<section class="row">
            <article class="col-12  card pt-5">
                <div class="card-body">
                    <h1 class="card-title text-center">Edición de Usuarios</h1>


                </div>
            </article>
        </section>-->
        <div class="col-12 text-center text-md-left py-4 fonditos">
            <h1 class="col-12 text-center mad">Edición de Usuarios</h1>

            <section class="bg-home pt-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-4 mx-md-auto bg-light agreg">
                            <div class="signup-form">
                                <form action="/users/profileUpdate/<%=usuarioEdit.id%>?_method=put" method="POST"
                                    enctype="multipart/form-data">
                                    <div class="form-group">

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="inputZip">ID</label>
                                            <input type="text" class="form-control" name="id"
                                                value="<%=usuarioEdit.id%>" disabled>
                                        </div>
                                        <div class="form-group col-md-10">
                                            <label for="inputAddress">Correo Electrónico</label>
                                            <input type="text" class="form-control" name="email"
                                                placeholder="Corro Electrónico" value="<%=usuarioEdit.email%>">
                                            <% if(typeof errors != 'undefined' && errors.email){  %>
                                            <span class="text-danger"> <%=errors.email.msg%> </span>
                                            <% } %>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputCity">Nombre</label>
                                            <input type="text" class="form-control" name="firstName"
                                                placeholder="Nombre" value="<%=usuarioEdit.firstName%>">
                                            <% if(typeof errors != 'undefined' && errors.firstName){  %>
                                            <span class="text-danger"> <%=errors.firstName.msg%> </span>
                                            <% } %>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputCity">Apellido</label>
                                            <input type="text" class="form-control" name="lastName"
                                                placeholder="Apellido" value="<%=usuarioEdit.lastName%>">
                                            <% if(typeof errors != 'undefined' && errors.lastName){  %>
                                            <span class="text-danger"> <%=errors.lastName.msg%> </span>
                                            <% } %>
                                        </div>


                                        <div class="form-group col-md-12">
                                            <label for="inputAddress">Teléfono</label>
                                            <input type="text" class="form-control" name="phone" placeholder="Telefono"
                                                value="<%=usuarioEdit.phone%>">
                                        </div>
                                        <label for="inputAddress">Contraseña</label>
                                        <div class="input-group col-12">
                                            <input type="hidden" name="password_old" value=<%=usuarioEdit.password%>>
                                            <input type="password" class="form-control" name="password"
                                                placeholder="Nueva contraseña (8 a 20 caracteres)">
                                        
                                            <div class="input-group-append">
                                                <span class="input-group-text  bg-white" id="togglePassword"><i class="fas fa-eye"> </i></span>
                                            </div>
                                                <% if(typeof errors != 'undefined' && errors.password){  %>
                                                <span class="text-danger"> <%=errors.password.msg%> </span>
                                                <% } %>
                                        </div>
                                <label for="inputAddress">Reingrese Contraseña</label>
                                        <div class="input-group col-12">
                                        
                                            <input type="password" class="form-control password2" name="password2"
                                                placeholder="Reingrese nueva contraseña (8 a 20 caracteres)">
                                            <div class="input-group-append">
                                                <span class="input-group-text  bg-white" id="togglePassword2"><i class="fas fa-eye"> </i></span>
                                            </div>
                                            <% if(typeof errors != 'undefined' && errors.password2){  %>
                                            <span class="text-danger"> <%=errors.password2.msg%> </span>
                                            <% } %>
                                        </div>



                                        <div class="form-group">
                                            <div class="list-group-item ">Imágen: <img class="img-thumbnail"
                                                    value="/img/users/<%= usuarioEdit.image%>"
                                                    src="/img/users/<%= usuarioEdit.image%>" alt="">
                                                <input type="hidden" name="image_old" value=<%=usuarioEdit.image%>>
                                                <input type="file" class="form-control" name="image"
                                                    placeholder="Imagen" value=<%=usuarioEdit.image%>>
                                            </div>

                                            <div class="form-group d-inline">
                                                <button type="submit" class="btn btn btn-primary">Actualizar</button>
                                            </div>
                                            <div class="form-group d-inline">
                                                <a type="button" class="btn btn btn-danger"
                                                    href="/users/profileShow">Volver</a>
                                            </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
        </section>
        <!-- Footer de footer.ejs -->
        <%- include ('../partials/footer') %>

        <!-- Scripts de scripts.ejs -->
        <%- include ('../partials/scripts') %>

        <!-- Fin del Container -->
    </div>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>

</html>