<!doctype html>
<html lang="es">

<head>
    <%- include ('../partials/head')  %>
</head>

<body class="fonditos mb-1">
    <div class="container-fluid">
        <%- include('../partials/header.ejs')%>
        <!-- Cuerpo principal -->
        <div class="col-12 text-center text-md-left py-4 paovh80">
            <h1 class="col-12 text-center mad">Editar mi perfil</h1>
            <section class="bg-home pt-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-4 mx-md-auto bg-light ">
                            <div class="signup-form">
                                <form action="/users/profileUpdate/<%=usuarioEdit.id%>?_method=put" method="POST"
                                    enctype="multipart/form-data">
                                    <!--
                                    <div class="form-group">
                                        <% if (typeof errors != 'undefined') { %>
                                        <ul class="list-group-item text-danger">
                                            <% for (let i = 0; i < errors.length; i++){ %>
                                            <li><%=errors[i].msg %></li>
                                            <% } %>
                                        </ul>
                                        <% } %>
                                    </div>
                                    -->
                                    <div class="form-row">
                                        <!--
                                        <div class="form-group col-md-8">
                                            <label for="inputZip">ID</label>
                                            <input type="text" class="form-control" name="id"
                                                value="<%=usuarioEdit.id%>" disabled>
                                        </div>
                                        -->
                                        <div class="form-group col-md-6">
                                            <label for="inputCity">Nombre</label>
                                            <input type="text" class="form-control" name="firstName"
                                                placeholder="Nombre" value="<%=usuarioEdit.firstName%>">
                                            <% if(typeof errors != 'undefined' && errors.firstName){  %>
                                            <span class="text-danger"> <%=errors.firstName.msg%> </span>
                                            <% } %>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputCity">Apellido</label>
                                            <input type="text" class="form-control" name="lastName"
                                                placeholder="Apellido" value="<%=usuarioEdit.lastName%>">
                                            <% if(typeof errors != 'undefined' && errors.lastName){  %>
                                            <span class="text-danger"> <%=errors.lastName.msg%> </span>
                                            <% } %>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label for="inputAddress">Correo Electrónico</label>
                                            <input type="text" class="form-control" name="email"
                                                placeholder="Corro Electrónico" value="<%=usuarioEdit.email%>">
                                            <% if(typeof errors != 'undefined' && errors.email){  %>
                                            <span class="text-danger"> <%=errors.email.msg%> </span>
                                            <% } %>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="inputAddress">Teléfono</label>
                                            <input type="text" class="form-control" name="telefono"
                                                placeholder="Telefono" value="<%=usuarioEdit.phone%>">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputAddress2">Contraseña</label>
                                            <input type="password" class="form-control" name="password"
                                                placeholder="Ingrese contraseña (6 a 15 caracteres)"
                                                value="<%=usuarioEdit.password%>">
                                            <% if(typeof errors != 'undefined' && errors.password){  %>
                                            <span class="text-danger"> <%=errors.password.msg%> </span>
                                            <% } %>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputAddress2">Reingrese Contraseña</label>
                                            <input type="password" class="form-control" name="password2"
                                                placeholder="Reingrese contraseña (6 a 15 caracteres)"
                                                value="<%=usuarioEdit.password%>">
                                        </div>
                                        <!--
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="inputZip">Fecha Alta</label>
                                                <input type="text" class="form-control" name="fecha_alta"
                                                    value="<%=usuarioEdit.createdAt%>" disabled>
                                            </div>
                                        </div>
                                        -->
                                        <div class="form-group">
                                            <div class="list-group-item ">Imagen: <img class="img-thumbnail"
                                                    value="/img/users/<%= usuarioEdit.image%>"
                                                    src="/img/users/<%= usuarioEdit.image%>" alt="">
                                                <input type="hidden" name="image_old" value=<%=usuarioEdit.image%>>
                                                <input type="file" class="form-control" name="imagen"
                                                    placeholder="Imagen" value=<%=usuarioEdit.image%>>
                                            </div>
                                            <div class="form-group d-inline">
                                                <a type="button" class="btn btn btn-danger"
                                                    href="/users/profileShow">Volver</a>
                                            </div>
                                            <div class="form-group d-inline">
                                                <button type="submit" class="btn btn btn-primary">Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Footer de footer.ejs -->
        <%- include ('../partials/footer') %>

        <!-- Scripts de scripts.ejs -->
        <%- include ('../partials/scripts') %>

        <!-- Fin del Container -->
    </div>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>

</html>