<!doctype html>
<html lang="es">

<head>
  <%- include ('../partials/head')  %>
  <link rel="stylesheet" href="/css/CRUD.css">
  <link rel="stylesheet" href="/css/register.css">
</head>

<body>
  
  <div class="container">
    <%- include('../partials/header.ejs')%>
    <main class=" fonditos mb-7 py-3">
    <!-- Cuerpo principal -->
    <!--<section class="row">
      <article class="col-12 py-0">
        <div>
          <h1 class="text-center">Registro</h1>
        </div>
      </article>
    </section>-->
      
      <h1 class="col-12 text-center mad">Registro</h1>


    <section class="bg-home">
      <div class="container py-4">
        <div class="row">
          <div class="col-12 col-md-4 mx-md-auto pt-4 bg-light agreg">

            <div class="signup-form pb-4">
              <form action="/users/register" class = "formulario" id = "formulario" method="post" enctype="multipart/form-data">
                <div class="form-group">
            
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="firstName" placeholder="Nombre"
                      value = "<%=typeof old == 'undefined' ? null : old.firstName%>">
                      <% if(typeof errors != 'undefined' && errors.firstName){  %>
                      <span class="text-danger"> <%=errors.firstName.msg%> </span>
                      <% } %>
                      <span id="errornombre"></span>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="lastName" placeholder="Apellido"
                      value = "<%=typeof old == 'undefined' ? null : old.lastName%>">
                      <% if(typeof errors != 'undefined' && errors.lastName){  %>
                      <span class="text-danger"> <%=errors.lastName.msg%> </span>
                      <% } %>
                      <span id="errorapellido"></span>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="email" placeholder="e-Mail"
                      value = "<%=typeof old == 'undefined' ? null : old.email%>">
                      <% if(typeof errors != 'undefined' && errors.email){  %>
                      <span class="text-danger"> <%=errors.email.msg%> </span>
                      <% } %>
                      <span id="erroremail"></span>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password"
                    placeholder="Contraseña (6-15 car./minús/mayús/número)"
                      value = "<%=typeof old == 'undefined' ? null : old.password%>">
                      <% if(typeof errors != 'undefined' && errors.password){  %>
                      <span class="text-danger"> <%=errors.password.msg%> </span>
                      <% } %>
                      <span id="errorpassword"></span>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password2"
                    placeholder="Reingrese contraseña"
                      value = "<%=typeof old == 'undefined' ? null : old.password2%>">
                      <% if(typeof errors != 'undefined' && errors.password2){  %>
                      <span class="text-danger"> <%=errors.password2.msg%> </span>
                      <% } %>
                      <span id="errorpassword2"></span>
                </div>
                <div class="form-group">
                  <input type="file" class="form-control" name="image" placeholder="Imagen">
                  <span id="errorimagen"></span>
                </div>

                <div class="form-group d-inline">
                  <button type="submit" class="btn btn-primary">Registrarse</button>
                </div>
                <div class="form-group d-inline">
                  <a type="button" class="btn btn-danger" href="/">Cerrar</a>
                </div>
              </form>



            </div>
          </div>
        </div>
      </div>
  </div>
  </main>
  </section>
  
  <!-- Footer -->
  <%- include ('../partials/footer') %>

  <!-- Scripts para Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
    <script src = "/js/userRegister.js"></script>
</body>

</html>